@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-optical-sizing: auto;
    background-color: #fff;
    color: #333;
}
.alert-title {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}
.alert-text {
    font-size: 10px;
    color: red;
}
.error-message {
    color: #000;
    font-size: 14px;
    font-weight: 550;
    background-color: #e73c3c8e;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

}
.success-message {
    color: #fff;
    font-size: 14px;
    font-weight: 550;
    background-color: #0da36973;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.question-message {
    color: #000;
    font-size: 14px;
    font-weight: 550;
    background-color: #b3b2b2;
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.confirm-button {
    background-color: #0da369;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
}
.cancel-button {
    background-color: #aa1510;
    color: #fff;
    font-weight: 550;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
}
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #7e7d7d;
    bottom: 0;
    width: 100%;
    background-color: #2d2d2d;
    position: fixed;
    padding-top: 5px;
}
footer p {
    padding: 5px;
    font-weight: 550;
    color: #aaa;
}
footer a {
    color: #aaa;
    text-decoration: none;
}
.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    top: 0;
    width: 100%;
    position: fixed;
    align-items: center;
}
.top-header .brand {
    display: flex;
    align-items: center;
    padding: 5px;
}
.top-header .brand img.logo {
    width: 70px;
    height: 50px;
}
.top-header .brand span {
    font-size: 16px;
    font-weight: 620;
    text-shadow: 0 0 1px rgba(12, 87, 55, 0.685);
    color: #333;
    margin-left: 10px;
}
.top-header .logout-btn {
    padding: 10px;
}
.top-header .logout-btn button {
    padding: 8px 15px;
    background: linear-gradient(to right, #075034, #0da369);
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.top-header .logout-btn button:hover {
    background: linear-gradient(to right, #0da369, #075034);
    transition: 0.7s;
}
.dashboard-content {
    margin-top: 35px;
    width: 100%;
    display: flex;
    height: 85vh;
    scrollbar-width: none;
    margin-bottom: 20px;
    overflow: scroll;
}
.dashboard-content .side-bar {
    width: 200px;
    height: calc(100vh - 120px);
    left: 0;
    background-color: #fff;
    padding: 10px 20px;    
}
.dashboard-content .side-bar input[type="search"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 14px;
    background-color: #fff;
    outline: none;
    font-weight: 580;
}
.dashboard-content .side-bar input[type="search"]:focus {
    box-shadow: 0 0 3px rgba(141, 190, 50, 0.685);
    transition: 0.3s;
}
.dashboard-content .side-bar ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}
.dashboard-content .side-bar ul a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 8px 15px;
    border-radius: 1rem;
    font-size: 15px;
    font-weight: 600;
}
.dashboard-content .main-content {
    width: 90%;
    padding: 20px;
    height: calc(100vh - 120px);
    margin-top: 26px;
    margin-right: 15px;
}
.dashboard-content .side-bar ul a:hover, .dashboard-content .side-bar ul a.active {
    background: linear-gradient(to right, #042e1e, #0a7a4f);
    color: #fff;
    transition: 0.3s;
}
.tab-content {
            display: none;
            animation: fadeIn 0.5s ease;
            height: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
            scrollbar-width: none       ;
        }
        
        .tab-content.active {
            display: block;
        }
        
        .tab-content h3 {
            color: #2c3e50;
            padding-bottom: 0px;
            /* border-bottom: 1px solid #ddd; */
            margin: 3px;
        }
        .tab-message{
            color: #8f8d8d;
            font-size: 14px;
            font-style: italic;
            font-weight: 600;
            margin-left: 5px;
            
        }
        .tab-content .right-side {
            margin: 3px;
        }
        .right-side {
            padding: 10px;
            width: 100%;
        }
        .left-side {
            padding: 10px;
        }
        .right-side .card{
            background-color: #fff;
            margin-bottom: 15px;
            width: 30%;
            border-radius: 10px;
            margin-right: 15px;
            border: 1px solid #ccc;
            display: inline-block;
    
        }
        .card .sales{
            background: linear-gradient(to right, #0c2c83, #437e88);
        }
        .card .bank{
            background: linear-gradient(to right, #053d28, #0f8659);
        }
        .card .profit{
            background: linear-gradient(to right, #7a0a0a, #0a6354);
        }
        .right-side .card .card-header{
            padding-top: 20px;
            padding-left: 15px;
            padding-right: 10px;
            padding-bottom: 5px;
            color: #fff;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .right-side .card .card-header .titles{
            display: flex;
            padding-bottom: 10px;
            align-items: center;
        }
        .right-side .card .card-header .titles .icon{
            background-color: #fff;
            padding: 10px;
            color: #067049;
            border-radius: 15px;
            width: 25px;
            height: 25px;
            display: flex;
            align-items: center;
            font-size: 22px;
        }
        .right-side .card .card-header .titles .title-details{
            margin-left: 15px;
        }
        .right-side .card .card-header .titles .title-details h4 {
            margin: 0;
            font-size: 15px;
            font-weight: 600;
        }
        .right-side .card .card-header .titles .title-details small {
            font-size: 12px;
            font-weight: 550;
            color: #c5c2c2;
        }
        .right-side .card .card-header .amount{
            font-size: 20px;
            font-weight: 600;
            text-align: left;
            margin: 5px;
            text-shadow: 0 0 1px rgba(50, 60, 190, 0.685);
        }
        .card .card-footer{
            padding: 5px 12px;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: space-between;
        }
        .card .card-footer p {
            font-size: 13px;
            color: #7e7d7d;
            font-weight: 600;
        }
        .card .card-footer span i {
            color: #080808;
            font-size: 15px;
        }
        .card a{
            text-decoration: none;
        }
        #showMenu, #hideMenu {
            display: none;
            padding: 10px;
            font-size: 25px;
            right: 15px;
            top: 10px;
            position: fixed;
            margin-right: 5px;
            cursor: pointer;
        }
        .tab-content .modal-head {
            display: flex;
            justify-content: end;
            align-items: center;
            padding: 5px;
        }
        .tab-content .modal-head button {
            padding: 8px 15px;
            background: linear-gradient(to right, #249797, rgb(124, 87, 17));
            color: #fff;
            font-weight: 600;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .tab-content .modal-head button:hover {
            background: linear-gradient(to right, #0a7a4f, rgb(66, 47, 11));
            transition: 0.7s;
        }
        .tab-content .modal {
            padding: 10px;
            background-color: #fff;
        }
        .tab-content .modal input{
            padding: 8px 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-top: 3px;
            font-size: 14px;
            background-color: #fff;
            outline: none;
            min-width: 300px;
            font-weight: 580;
        }
        .tab-content .modal .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
        .tab-content .modal .modal-header button {
            padding: 7px 12px;
            background-color: #182425;
            color: #fff;
            font-weight: 600;
            margin-right: 10px;
            font-size: 20px;
            width: 60px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .tab-content .modal .modal-body{
            height: 40vh;
            scrollbar-width: none;
            overflow: scroll;
            align-content: center;
        }
        #ledger .row{
            display: flex;
            justify-content: space-between;
        }
        #ledger .row .modal{
            margin: 10px;
            width: 45%;
        }
        .tab-content .modal .modal-body h4{
            font-size: 22px;
            font-weight: 700;
            color: red;
            cursor: pointer;
            text-align: center;
            align-content: center;
            margin-bottom: 10px;
        }
        @media screen and (max-width: 450px) {
            .tab-content .modal .modal-header{
                display: block;
            }
            .tab-content .modal .modal-header button {
                width: 96%;
                border-radius: 0;
                margin-bottom: 10px;
            }
            .tab-content .modal .modal-header input{
                width: 96%;
            }
        }
        @media screen and (max-width: 1130px) {
           #ledger .row {
                flex-direction: column;
            }
            #ledger .row .modal {
                width: 100%;
                margin: 5px 0;
            } 
        }
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(10px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
@media screen and (max-width: 500px) {
    footer {
        font-size: 12px;
    } 
}
@media screen and (max-width: 700px) {
    .dashboard-content {
        flex-direction: column;
        width: 94%;
    }
    .right-side {
        width: 100%;
        margin: 0;
    }
    .right-side .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .dashboard-content{
       
    }
    .dashboard-content .side-bar {
        width: 95%;
        height: auto;
        display: none;
    }
    #showMenu {
        display: block;
    }
    .dashboard-content .main-content {
        margin-top: 20px;
        margin-right: 0;
    }
    .dashboard-content .side-bar ul a {
        font-size: 14px;
        padding: 10px;
    }
    .top-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }
    .top-header .logout-btn {
        display: none;
    }
    .dashboard-content .side-bar ul a{
        border-radius: 0;
        margin: 0;
    }
    .tab-content .tab-message{
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .top-header .brand span{
        display: none;
    }
}
